/*

. = class
# = id

CHANGE_HERE{

}
@media screen and (max-width: 1080){
    CHANGE_HERE{

    }
}
*/

body{
    background: rgb(122, 122, 122);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    text-decoration: none;
    font-size: 24px;
    z-Index: 0px;
    margin: 0px;
    padding: 0px;
}

header{
    background: rgb(0, 0, 0);
    padding: 20px;
}
.menu{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 24px;
}
.menu:hover{
    background-color: white;
    color: black;
    border-radius: 3px;
    padding: 10px;
}
header{
    display: flex;
    justify-content: space-between;
}

header left, center, right{
    display: flex;
    justify-content: center;
    flex: 1;
}

pre {
	background-color: #1f1f1f;
	font-family: Fixedsys, Courier, monospace;
	padding: 0 1em;
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
    overflow-y: scroll;
}
.code{
    padding-top: 0px;
}
purple {
    color: #c586c0;
}

yellow {
    color: #ffd702;
}

green {
    color: #4ec9b0;
}

blue {
    color: #569cd6;
}

lightblue {
    color: #9cdcfe;
}
lime{
    color: rgb(112, 189, 112)
}
red{
    color: red;
}
img {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
}
button{
    background-color: #1f1f1f;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 24px;
    margin: 20px;
    width: 50px;
    height: 50px;
}
button:hover{
    background-color: white;
    color: #1f1f1f;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 24px;
    margin: 20px;
    width: 50px;
    height: 50px;
}
h2{
    margin-left: 20px;
}
loesungtext{
    display: block;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 80px);
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #484848;
    margin-bottom: 20px;
}
loesungen h2{
    margin-bottom: 0px;
    margin-top: 0px;
}
loesungen{
    display: block;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 80px);
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #484848;
    margin-bottom: 20px;
}
aufgabe {
    font-size: 20px;
    display: block;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 80px);
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #484848;
}
h3{
    font-size: 30px;
    margin-bottom: -10px;
    margin-top: 0px;
}


/* width */
::-webkit-scrollbar {
    width: 1px;
    clear: right;
    color: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}