body{
    width: 100vw !important;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
table {
    border-collapse: collapse;
    margin: 20px;
}
tr td div span{
    width: 100%;
    font-size: 24px;
    white-space: white-space;
}
tr td div{
    width: 98%;
    margin: 6px;
    font-size: 24px;
    white-space: white-space;
}
.list_header {
    text-align: center;
    background-color: #1f1f1f;
    padding: 10px;
}

.list_header .list{
    width: 50%;
}

.odd{
    background-color: #2e2e2e;
}

.even{
    background-color: #3f3f3f;
}

tabellen_nav{
    display: flex;
    justify-content: center;
}

tabellen_nav button{
    margin: 20px 0px 10px 0px;
    padding: 10px;
    background-color: #1f1f1f;
    color: white;
    text-decoration: none;
    width: 150px;
    height: 70px;
    font-size: 30px;
    font-style: bold;
    transition: 200ms;
}

tabellen_nav button:hover{
    margin: 20px 0px 10px 0px;
    padding: 10px;
    color: white;
    background-color: #1f1f1f;
    text-decoration: none;
    font-style: bold;
    width: 150px;
    height: 70px;
}

.kara-nav{
    border-radius: 20px 0px 0px 20px;
}

.world-nav{
    border-radius: 0px;
}

.tools-nav{
    border-radius: 0px 20px 20px 0px;
}

.kara-nav:hover{
    border-radius: 20px 0px 0px 20px;
}

.world-nav:hover{
    border-radius: 0px;
}

.tools-nav:hover{
    border-radius: 0px 20px 20px 0px;
}